<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Contact</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="item-list">
                <li class="items"><a href="/login">login</a></li>
                <li class="items"><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <form action="/contact/form" method="post">
        <label for="name">Name</label>
        <input type="text" name="Name">
        <label for="email">email</label>
        <input type="email" name="email">
        <label for="phone">Phone</label>
        <input type="tel" >
        <label for="date">Time for call</label>
        <input type="date">
        <input type="time">
        <button type="submit">Get a call</button>
    </form>
</body>
</html>